/* Importing Fonts */

@font-face {
  font-family: RainbowDreams;
  src: url("fonts/Rainbow\ Dreams.otf") format("opentype");
}


/* Utilizing Root Psuedoclass to Store CSS Variables that I will Use Throughout Project*/

:root {
  --heading-color: #FFFFFF;
  --tile-text-color: #f8f8f8;
  --panel-dark-color: #00232A;
  --github-hover-bg: rgb(0, 27, 32);
  --panel-light-color: #01697F;
}


/* Normalising CSS on all browsers to look as I define in the following rules */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: "Helvetica", Helvetica, sans-serif;
  color: var(--heading-color);
  font-weight: lighter;
}


/* Removing Bullet Points on Lists */

ul {
  list-style-type: none;
}


/* Adding extra margin on list elements (for navbar)*/

li {
  float: left;
  margin-right: 30px;
}


/* Top Banner with Navbar Setting Background Image */

.banner {
  background-image: url('../img/header.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Setting up Navbar To Display As Intended */

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}


/* Giving Navbar Some Spacing away from edge of screen */

.navbar__social-panel {
  padding: 20px 10px 0px 0px;
}


/* Making the list element of the navbar social panel display as a row*/

.navbar__social-panel>ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}


/* Navbar Navigation Panel also getting padding to make it bigger*/

.navbar__navigation {
  padding: 20px 0px 0px 40px;
}


/* Making Eeach Link in Navbar navigation the heading color */

.navbar__navigation>ul>li>a {
  color: var(--heading-color);
  text-decoration: none;
}


/* Hover over navbar link makes it style specially */

.navbar__navigation>ul>li>a:hover {
  color: black;
  background-color: white;
  border-radius: 10%;
  padding: 2px;
  text-decoration: none;
  font-weight: bold;
}


/* Makes the banner panel have top and bottom padding*/

.banner_pane {
  padding: 20% 0%;
}


/* Making Pane Divs Columns and giving them padding.*/

.pane {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 3%;
}


/*Setting Title Size and Margin */

.pane>.title {
  font-size: 140%;
  margin: 4% 0%;
}


/* Styling Text Content of Pane */

.pane__left__text-content {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  margin-bottom: 20px;
}


/*Giving Text in Text Content Block Color*/

.pane__left__text-content>span {
  margin-bottom: 10px;
  text-shadow: 2px 1.5px rgba(0, 0, 0, 0.7);
}


/* Setting Font on Left Pane class to fancy text */

.pane__left__text-content__heading {
  font-family: RainbowDreams;
  font-size: 600%;
}


/* Sizing the left pane to 50% */

.pane__left__text-content__content {
  width: 50%;
}


/* About Panel Coloring and Display*/

#about {
  background-color: var(--panel-dark-color);
  display: flex;
  justify-content: space-evenly;
}


/* About Panel Content Spacing*/

#about>.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 2% 0%;
}


/* Setting The First Child of Content (Titles) to be spaced and sized correctly*/

.content> :first-child {
  margin: 10px 0px;
  font-size: 200%;
}


/* Spacing About Text Content Margin Correctly*/

.about__text-content {
  margin-top: 10px;
}


/* Counter Element Styling to Space Numbers */

.counter {
  display: flex;
  flex-direction: row;
  padding: 20px 0px;
  justify-content: space-between;
  width: 70%;
}


/* Counter Element Text Styling Center Numbers and Bold Them */

.counter__text {
  text-align: center;
  font-size: 80%;
  font-weight: bol der;
}


/* Counter Statistic Text Styling */

.stat {
  margin-bottom: 10px;
  font-weight: bolder;
  font-size: 200%;
}


/* Counter Containers Styling */

.counter>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#featured-project {
  background-color: var(--panel-light-color);
}


/* Work Container Styling with Background Color */

#work {
  background-color: var(--panel-dark-color);
}


/* Tiles Container in Work Container Styling */

.tiles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


/* Tile Styling (Mobile Friendly With Max and Min Width*/

.tile {
  display: block;
  width: 25%;
  max-width: 400px;
  min-width: 155px;
}


/* Styling Continers Inside Tile Container to Fill Tile Completely  */

.tile>* {
  width: 100%;
}


/* Setting Image Tags Inside Image Container To Fit Correctly */

.tile__image>* {
  height: auto;
  width: 100%;
  display: block;
}


/* Tile Text Styling with Font Style, padding and display */

.tile__text>* {
  background-color: var(--tile-text-color);
  display: block;
  padding: 2% 4%;
  text-align: left;
  font-size: 73.6%;
}


/* Setting First Text Element (Title) in tile to style well */

.tile__text> :first-child {
  padding-top: 10px;
  text-align: center;
}


/* Setting Roles Color To Stand out */

.tile__text__roles {
  color: #01697F;
}


/* Setting Tile Description Text Style and Padding */

.tile__text__description {
  color: #303030;
  padding-bottom: 5%;
}


/* Tile Name Text Styling */

.tile__name {
  text-align: center;
  margin-top: 10%;
  font-size: 150%;
  font-weight: lighter;
}


/* Blog Preview Pane Background Styling */

#blog {
  background-color: var(--panel-light-color);
}


/* Blog Tile Width Setting */

#blog>.tiles>* {
  width: 30%;
}


/* Blog Tiles Image Styling and Text On Top of Image */

#blog>.tiles>.tile>.tile__image {
  padding: 2% 0%;
  text-align: center;
  margin: 0 auto;
  font-family: RainbowDreams;
  font-size: 500%;
  font-weight: lighter;
}


/* Link to Read More In Blog Coloring */

#blog>.tiles>.tile>.tile__text .tile__text__description>a {
  color: #2963FD;
}


/* Setting Tile Image for Each Blog Preview */

#blog>.tiles>.tile__one>.tile__image {
  background-image: url(/resources/img/blog/blog-img-1.png);
  background-size: cover;
}


/* Setting Tile Image for Each Blog Preview */

#blog>.tiles>.tile__two>.tile__image {
  background-image: url(/resources/img/blog/blog-img-2.png);
  background-size: cover;
}


/* Setting Tile Image for Each Blog Preview */

#blog>.tiles>.tile__three>.tile__image {
  background-image: url(/resources/img/blog/blog-img-3.png);
  background-size: cover;
}


/* Setting  Blog Tags Styling*/

.tags {
  font-size: 15%;
  text-align: right;
}


/* Setting Contact Pane Background Color */

#contact {
  background-color: #101010;
}


/* Setting Contact Form to Fit Screen, and it's contents to wrap correctly */

.contact-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}


/* Spacing Form Elements */

.contact-form>form>* {
  margin-bottom: 20px;
}


/* Setting Border at Bottom of Text Fields */

.contact-form>form>div>* {
  border-bottom-color: #015A71;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  margin-bottom: 20px;
}


/* Spacing Name from Email*/

.contact-form>form>div:first-child {
  margin-right: 10px;
}


/* Spacing Button Correctly */

.contact-form>form>div:last-child {
  display: flex;
  justify-content: space-around;
}


/* Setting Background Attributes */

.contact-form>form>div:last-child>button {
  background-color: #00323C;
  border-radius: 10%;
  border: 0;
  padding: 4% 6%;
}


/* Setting Message Styling*/

.contact-form>form>div:nth-last-child(2)>input {
  width: 100%;
  display: flex;
  justify-content: space-around
}


/* Setting Footer Styles */

.footer {
  padding: 3% 5%;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


/*  CSS For Gallery */


/* Setting Title of Image Font and Padding */

#image-title {
  background-color: #101010;
  padding: 20px;
  text-align: center;
}


/* Setting Preview Tile's Container Background Color to balck and padding it to match theme */

.preview-tiles {
  background-color: #101010;
  padding: 20px;
}


/* Setting Link of Font Awesome Icons to Have Outline and Decent Size for gallery buttons*/

i {
  outline-width: 10px;
  outline-color: black;
  width: 20px;
  text-shadow: 0px 0px 3px #000;
}


/* Setting Left Button Styling on Overlay on Image*/

.left {
  text-align: left;
  margin-left: 20px;
  padding-left: 10px;
}


/* Setting Right Button Styling on Overlay on Image*/

.right {
  text-align: right;
  margin-right: 20px;
  padding-right: 10px;
  color: Red;
}


/* Setting Font Awesome Arrow Styling*/

.fas .fa-arrow-right g g path {
  stroke: black;
  stroke-width: 10px;
}


/* Setting Description for Featured Project Section with right width and margin*/

.description {
  width: 50vw;
  margin-bottom: 30px;
}


/* Setting Image Panel Padding for Decent Fitting */

.image-pane {
  padding: 10% 0;
}


/* Setting Image Panel paragraph margins and font sizing for legible and clean text*/

.image-pane>p {
  margin: 0% 20%;
  margin-top: 10px;
  font-size: 12px;
}


/* Setting Heading 1 Under the Image Panel to Large to Stand Out */

.image-pame>h1 {
  font-size: x-large;
}


/* Setting up Image Map Segue Button to look like the theme's without affecting
the arrow buttons on the gallery section */

.toImageMap>button {
  background-color: #00323C;
  border-radius: 5%;
  border: 0;
  padding: 4% 6%;
}


/* Image Map Styling */


/* Setting Report Background Color to fit with current theme */

#report {
  background-color: var(--panel-light-color);
}


/* Setting Moderation Background Color to fit with current theme */

#moderation {
  background-color: var(--panel-dark-color);
}


/* Setting Prioritisation Background color to fit with current theme */

#prioritisation {
  background-color: var(--panel-light-color);
}


/* Setting Task Allocation Background color to fit with current theme */

#task-allocation {
  background-color: var(--panel-dark-color);
}


/* Making Feed Buttons Float */

.buttons,
#feedContainer {
  position: fixed;
  z-index: 100;
  right: 2%;
  bottom: 2%;
}


/* Making Feed Container Float higher */

#feedContainer {
  right: 2%;
  bottom: 4%;
}


/* Making Feed Buttons Spaced */

.feed-button {
  margin-top: 10px;
}


/* Making Github Animate On Hover */

.button:hover {
  animation: shake 1s cubic-bezier(.3, .06, .2, .9) infinite;
}


/* Defining Animations for Github Button in Keyframe Percentages*/

@keyframes shake {
  10% {
    transform: translate3d(-1px, -1px, 0) rotate(5deg);
  }
  30%,
  {
    transform: translate3d(2px, -4px, 0) rotate(-2deg);
  }
  90%,
  {
    transform: translate3d(-4px, -1px, 0) rotate(3deg);
  }
  100% {
    transform: translate3d(4px, 2px, 0) rotate(-4deg);
  }
}


/* Setting Feed Container Dimensions and BG Colour */

#feedContainer {
  min-width: 160px;
  max-width: 300px;
  width: 30%;
  padding: 10px;
  height: 40%;
  background-color: black;
}


/* Setting Feed Cell Backgrounds based on Light or Dark Classes*/

.light {
  background-color: var(--panel-light-color);
}

.dark {
  background-color: var(--panel-dark-color);
}


/* Setting Styling for Title of Feed Container  */

.feedContainer__title {
  background-color: #010101;
  margin: -10px;
  margin-bottom: 0px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
}


/* Spacing the Title of Feed Container's Text Correctly*/

.feedContainer__title__text {
  width: 70%;
  text-align: right;
  margin-right: 40px;
}


/* Spacing the Exit Button of Feed Container Correctly */

.feedContainer__title__exit {
  text-align: right;
  width: 30%;
  padding-right: 20px;
}


/* Changing Cursor Based on Hover Over Exit Button */

#feedContainer__title__exit:hover {
  cursor: pointer;
}


/* Setting Feed Container Content Spacing and Scrollable */

.feedContainer__content {
  margin: 0px -10px;
  height: 100%;
  overflow-y: scroll;
}


/* Setting Up Each Feed Cell to Format the Contents with Flexbox*/

.feedContainer__content__cell {
  display: flex;
  flex-direction: column;
  font-size: smaller;
}


/* Setting up Each Project's Name with Striking Text and Spacing*/

.feedContainer__content__cell__name {
  display: flex;
  justify-content: center;
  padding: 5px 0px;
  font-weight: bolder;
  font-size: larger;
}


/* Setting up Each Project's Description with smaller text and spacing .*/

.feedContainer__content__cell__description {
  text-align: left;
  font-size: smaller;
  margin: 10px 5px;
}


/* Setting up Each Project's Buttons Container with Flexbox and Spacing  */

.feedContainer__content__cell__buttons {
  display: flex;
  justify-content: space-around;
  margin: 10px 0px;
}


/* Setting up Each Project's Button as Flexbox to Display Button + Label  */

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Coloring in the Buttons White */

.btn>svg {
  margin-bottom: 5px;
  fill: white;
}


/* Setting Twitter Cell Styles */


/* Setting Twitter Cell as Flex Element */

.feedContainer__content__twitter-cell {
  display: flex;
}


/* Setting Twitter Cell Profile Picture Div To Center & Space Image */

.feedContainer__content__twitter-cell__profile-picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}


/* Making Profile Picture Circular */

.feedContainer__content__twitter-cell__profile-picture>img {
  border-radius: 50%;
}


/* Making Profile Text Content Spaced */

.feedContainer__content__twitter-cell__textContent {
  padding: 10px;
}


/* Making Profile Name Bold and Larger */

.feedContainer__content__twitter-cell__textContent> :first-child {
  font-weight: bold;
  font-size: larger;
}


/* Gallery View Becomes Unpractical to Use Past 882 pixel width so getting rid of it at that point. */

@media only screen and (max-width: 882px) {
  .gallery {
    display: none;
  }
}


/* Making it Mobile Friendly With Flex Directions and Text Alignment */

@media only screen and (max-width: 600px) {
  /* Hiding the Feed Container on Mobile*/
  #feedContainer {
    display: none;
  }
  /* Hiding the Github Button on Mobile */
  #github-button {
    display: none;
  }
  /* Changing Flex Direction to Fit Vertical Screen */
  .tiles {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  /* Making Tiles Wider to Fill More of the Screen */
  #blog>.tiles>*,
  .tiles>* {
    margin-bottom: 30px;
    width: 80%;
  }
  /* Fixing Counter Width to Fill on Mobile*/
  .counter {
    width: auto;
  }
  /* Centering Titles on Mobile as I prefer the aesthetic on smaller screens */
  .title {
    text-align: center;
  }
  /* Centering Contact form Elements on mobile */
  .contact-form {
    text-align: center;
  }
  /* Decreasing Margin Title on Mobile so it looks 'right'*/
  #contact>.title {
    margin: 40px 0px;
  }
  /* Making Contact form button wider on mobile */
  .contact-form:last-child {
    width: 80%;
  }
  /* Decreasing footer font size on mobile as it looks too big with normal*/
  .footer {
    font-size: 60%;
  }
}