html, body {
    height: 100%;
}

.banner {
    height: 30%;
}

.sitemap-panel {
    height: 70%;
}

.banner h1 {
    font-family: RainbowDreams;
    font-size: 600%;

}

.sitemap-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--panel-dark-color);
}

h1 {
    text-align: center;
    padding: 10px 0px;

}

.sitemap-panel__map {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--panel-light-color);
    align-items: flex-start;
    height: 50%;
}

.map-tab  > *{
    display: flex;
    flex-direction: column; 
    padding: 2%;
}

.sitemap-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.map-tab {
    background-color: var(--panel-dark-color);
    padding: 10px;
}

.map-tab-main {
    margin: 5px 10%;
    width: 80%;
}
.map-tab-sub {
    margin: 5px 15%;
    width: 75%;
}
.sitemap-content {
    display: flex;
    flex-direction: column;
}

.sitemap-content >  * {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    margin-bottom: 20px;
}

.sitemap-content >  *:first-child {
    margin-top: 20px;
}

.sitemap-content > * > * {
    width: 80%;
}

#go {
    
    border-radius: 5%;
    background-color:  rgb(0, 135, 161);
    border:0;
    width: 15%;
    padding: 10px;
}

